* {
    background-color: rgb(229, 212, 192);
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2 {
    font-family: serif;
    color: rgb(73, 81, 89);
    background-color: rgb(250, 201, 184);
    border: 6px solid rgb(73, 81, 89);
    padding: 20px;
    border-radius: 20px;
}

#stats {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#enclosure {
    background-color: rgb(161, 232, 204);
    border: 8px solid rgb(73, 81, 89);
    border-radius: 20px;
    height: 400px;
    width: 400px;;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* learned animation here: https://www.w3schools.com/css/css3_animations.asp */
/* learned how to rotate here: https://stackoverflow.com/questions/16771225/css3-rotate-animation */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#pet-img {
    position: relative;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px;
    justify-content: space-around;
}

#buttons button {
    color: rgb(73, 81, 89);
    background-color: rgb(250, 201, 184);
    border: 4px solid rgb(73, 81, 89);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

#buttons button:hover {
    color: rgb(161, 232, 204);
    background-color: rgb(162, 141, 137);
    border: 4px solid rgb(161, 232, 204);
}

#start {
    font-size: 1.2em;
}

footer {
    font-style: italic;
}

#submit-button {
    color: rgb(73, 81, 89);
    background-color: rgb(250, 201, 184);
    border: 2px solid rgb(73, 81, 89);
    border-radius: 5px;
    padding: 4px;
}

#submit-button:hover {
    background-color: rgb(162, 141, 137);
}